name: CI/CD Complet (Docker + Terraform)

on:
  push:
    branches:
      - main

jobs:
  # ÉTAPE 1 : FABRICATION (BUILD)
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      # On génère le config.php pour que l'image fonctionne
      - name: Générer config.php
        run: |
          echo "<?php" > config.php
          echo "\$host = getenv('DB_HOST') ?: '${{ secrets.DB_HOST }}';" >> config.php
          echo "\$dbname = getenv('DB_NAME') ?: '${{ secrets.DB_NAME }}';" >> config.php
          echo "\$username = getenv('DB_USER') ?: '${{ secrets.DB_USER }}';" >> config.php
          echo "\$password = getenv('DB_PASSWORD') ?: '${{ secrets.DB_PASSWORD }}';" >> config.php
          echo "try { \$pdo = new PDO(\"mysql:host=\$host;dbname=\$dbname;charset=utf8\", \$username, \$password); \$pdo->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION); \$pdo->setAttribute(PDO::ATTR_DEFAULT_FETCH_MODE, PDO::FETCH_ASSOC); } catch (PDOException \$e) { die(\"Erreur connexion : \" . \$e->getMessage()); }" >> config.php

      - name: Connexion Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/meteo-app:latest

  # ÉTAPE 2 : INFRASTRUCTURE (TERRAFORM)
  terraform-check:
    runs-on: ubuntu-latest
    needs: build-and-push # On attend que l'image soit prête
    
    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Installation de Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Vérification du format (Style de code)
        run: terraform fmt -check

      - name: Terraform Plan (Simulation)
        # Ceci va simuler la création du conteneur sur le serveur GitHub
        # C'est la preuve que ton code infrastructure fonctionne
        run: terraform plan -no-color