name: CI/CD Docker Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      # 1. Récupération du code
      - name: Checkout du code
        uses: actions/checkout@v3

      # 2. Création du fichier config.php (Car il est dans ton .gitignore !)
      # Sans ça, ton site dans Docker n'aura pas les infos de connexion BDD
      - name: Création config.php temporaire
        run: |
          echo "<?php" > config.php
          echo "\$host = '${{ secrets.DB_HOST }}';" >> config.php
          echo "\$dbname = '${{ secrets.DB_NAME }}';" >> config.php
          echo "\$username = '${{ secrets.DB_USER }}';" >> config.php
          echo "\$password = '${{ secrets.DB_PASS }}';" >> config.php
          echo "try { \$pdo = new PDO(\"mysql:host=\$host;dbname=\$dbname;charset=utf8\", \$username, \$password); \$pdo->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION); \$pdo->setAttribute(PDO::ATTR_DEFAULT_FETCH_MODE, PDO::FETCH_ASSOC); } catch (PDOException \$e) { die(\"Erreur connexion : \" . \$e->getMessage()); }" >> config.php

      # 3. Connexion à Docker Hub
      - name: Connexion à Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 4. Construction et Envoi de l'image
      - name: Build & Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/meteo-app:latest